.App {
  font-family: sans-serif;
  text-align: center;
}

.button {
  width: 56px;
  height: 36px;
  border-width: 0;
  color: white;
  border-radius: 5px;
}

.primary {
  background-color: green;
}

.secondary {
  background-color: blue;
}
